<% include ../partials/header %>

<div class="container">
  <div class="row">
    <div class="col-6">
      <h1>Add New Comment <%=campground.name %> </h1>
      <form action="/campgrounds/<%= campground._id %>/comments" method="post">
        <input class="form-control" type="text" name="comment[text]" placeholder="text">
        <button class="btn btn-lg btn-primary">Submit</button>
      </form>
      <a href="/campgrounds">Back</a>
    </div>
  </div>
</div>

<% include ../partials/footer %>